# All time intervals are either integer seconds or strings conforming to the
# requirements of the constructor of the Pandas Timedelta type.

[paths]
data-directory = "/big/mcast/data/feder"
staging-directory = "/local/durable/feder-staging"
scratch-directory = "/big/mcast/data/feder-scratch"

[rabbitmq]
host = "g01"
port = 5672
username = "feder"
password = "dflksjdflkjsd"

[mailjet]
api_key = "<fill in API key>"
secret_key = "<fill in secret key>"
from_email = "state-of-feder@mit.edu"
from_name = "State of Feder"
to_email = "state-of-feder@mit.edu"
to_name = "State of Feder"

[ingester]
prometheus-port = 19001
export-interval = "1 hour"
finalize-after = "12 hours"

[sources]
# Defaults for all sources.
completion-delay = "15 minutes"
completion-interval = 60
data-lag = 0

[source.contrails-api]
data-lag = "48 hours"
api-key = "<fill in API key>"
bounds = [-140.0, -45.0, 5.0, 65.0]  # [min_lon, max_lon, min_lat, max_lat]
prometheus-port = 19002

[source.flightaware]
username = "<fill in username>"
password = "<fill in password>"
prometheus-port = 19003

[source.opensky]
api-key = "<fill in API key>"
prometheus-port = 19004

[source.opensky-state-vectors]
api-key = "<fill in API key>"
prometheus-port = 19005
