# All time intervals are either integer seconds or strings conforming to the
# requirements of the constructor of the Pandas Timedelta type.

[paths]
data-directory = "/big/mcast/data/feder"
scratch-directory = "/big/mcast/data/feder-scratch"

[rabbitmq]
host = "g01"
port = 5672
username = "feder"
password = "dflksjdflkjsd"

[ingester]
prometheus-port = 19001

[sources]
# Defaults for all sources.
completion-delay = "15 minutes"
completion-interval = 60
data-lag = 0

[source.contrails-api]
data-lag = "48 hours"
api-key = "<fill in API key>"
prometheus-port = 19002

[source.flightaware]
username = "<fill in username>"
password = "<fill in password>"
prometheus-port = 19003

[source.opensky]
api-key = "<fill in API key>"
prometheus-port = 19004

[source.opensky-state-vectors]
api-key = "<fill in API key>"
prometheus-port = 19005
